body{
    font-family: 'Noto Sans TC', sans-serif;
}
#store_header{
    text-align: right;
    margin-bottom: 30px;
}
#store_header h4{
    text-align: center;
}
#store_header .modal{
    text-align: left;
}


#user_dropdown img{
    width:20px;
    height: 20px;
}



#login{
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
#login_card{
    padding: 15px;
    margin: auto;
}

#login_button a{
    margin:0px auto;
    width: 151px;
    height: 44px;
    background: url(/images/btn_login_base.png) no-repeat;
    display: block;
}
#login_button a:hover{
    background: url(/images/btn_login_hover.png);
}
#login_button a:active{
    background: url(/images/btn_login_press.png);
}